     * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 .container {
     max-width: 1184px;
     margin: 0 auto;
     padding: 0px 15px;
 }
 .header {
     background-color: #94cb32;
     position: relative;
 }
 .off-icon {
    position: absolute;
    top: 24px;
    right: 9%;
    font-size: 30px;
    display: none;

}
 .header p {
     font-family: 'Montserrat';
     text-transform: capitalize;
 }
 .header-top {
     display: flex;
     justify-content: space-between;
     padding-bottom: 50px;
     padding: 0 50px 50px 20px;
     padding-top: 11px;
 }
 ul {
     display: flex;
     list-style: none;
 }
 a {
     text-decoration: none;
     /* margin: 0px 5px; */
     color: #000;
     display: block;
 }
 .menu ul span {
     color: #fff;
     border-right: 2px solid #cccccc;
     padding-right: 10px;
 }
 .about p span {
     color: #fff;
 }
 .min-header {
     display: flex;
     justify-content: space-between;
     padding: 0px 57px 0px 17px;
     padding-bottom: 20px;
 }
 .min-header i {
     border: 1px solid;
     border-radius: 50%;
     padding: 5px;
     color: #fff;
     width: 30px;
     height: 30px;
     line-height: 17px;
     text-align: center;
 }
 .min-header i:hover {
     background-color: #fff;
     color: #000;
 }
 .logo h1 {
     font-family: Montserrat;
     color: #fff;
 }
 .menu-sop {
     background-color: 3f3f3f;
     padding: 10px 0;
 }
 .men-menu {
     color: #fff;
 }
 .off-icon-1 {
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 20px;
    display: none;
}
 .men-menu ul i {
     padding-right: 20px;
 }
 .men-menu ul li {
     padding-right: 5px;
     text-transform: capitalize;
 }
 .makeup {
    display: flex;
    margin-top: 20px;
    position: relative;
    
}
 .makeup-img img {
     /* margin-left: 20px; */
     margin-bottom: 14px;
 }
 .mak-img h2 {
     position: absolute;
     top: 40%;
     font-family: 'Montserrat';
     left: 51%;
 }
 .mak-img button {
     position: absolute;
     top: 50%;
     left: 54%;
     padding: 7px 14px;
     background-color: 94cb32;
     color: #fff;
     border: none;
     cursor: pointer;
 }
 .mak-img button:hover {
     background-color: blue;
     color: #fff;
     border-radius: 30px;
 }
 .makeup-img {
     position: relative;
 }
 .img-1 p {
     position: absolute;
     top: 11%;
     left: 56%;
     color: #fff;
     font-weight: bold;
     font-family: 'Montserrat';
 }
 .img-2 p {
     position: absolute;
     top: 42%;
     left: 56%;
     color: #fff;
     font-weight: bold;
     font-family: 'Montserrat';
 }
 .img-3 p {
     position: absolute;
     top: 79%;
     left: 56%;
     color: #fff;
     font-weight: bold;
     font-family: 'Montserrat';
 }
 .product-list {
     display: flex;
     flex-wrap: wrap;
     margin: 0 -10px;
     overflow: hidden;
 }
 .product {
     width: 25%;
     padding: 0 10px;
     margin: 0 0 20px;
 }
 .product .product-card {
     border: 1px solid #ccc;
     height: 100%;
     overflow: hidden;
     position: relative;
 }
 .product .product-card img {
     width: 100%;
 }
 .product .product-card span img {
     width: auto;
     /* margin-left: 0; */
     margin: 0 auto;
 }
 .product-card {
     position: relative;
 }
 .product-image {
     position: relative;
 }
 .dawon {
     visibility: hidden;
     position: absolute;
     top: auto;
     bottom: 0;
     left: 0;
     right: 0;
     display: flex;
     background-color: #94cb32;
     padding: 10px;
 }
 .product-card:hover .dawon {
     visibility: visible;
     transition: width 2s;
 }
 .sovar {
     width: 50%;
     text-align: center;
 }
 .sovar a {
     font-size: 24px;
     color: #fff;
 }
 .sovar-1 {
     position: absolute;
     top: 61%;
     right: -5px;

 }
 .sovar-1 a {
     background-color: #94cb32;
     padding: 5px 59px;
     font-size: 24px;
     color: #fff;
 }
 .product .product-card {
     width: 100%;
     border: 1px solid #d4d0d0;
     position: relative;
     background-color: #fcfcfc;
 }
 .product .product-card h3 {
     text-align: center;
     color: 94cb32;
     margin: 10px 0;
     text-transform: capitalize;
 }
 .product .product-card p {
     text-align: center;
     color: #a9a7a7;
     margin-bottom: 20px;
     text-transform: capitalize;
 }
 .product .product-card span {
     text-align: center;
     display: block;
     margin-bottom: 15px;
 }
 .product .product-card h5 {
     font-size: 17px;
     background: #fca905;
     display: inline;
     position: absolute;
     padding: 10px;
     top: 0;
     right: 0;
     transform: rotate(-90deg);
     font-family: 'FontAwesome';
     color: #fff;
     font-size: 10px;
     letter-spacing: 1.5;
 }
 .new h2 {
     text-align: center;
     font-size: 20px;
 }
 .page-heading h2 {
     background-color: #fff;
     display: inline-block;
     z-index: 999;
     position: relative;
     padding: 0 20px;
     font-family: 'Montserrat';
 }
 .page-heading h2:before {
     content: "";
     border-left: 2px solid #94cb32;
     position: absolute;
     left: 0;
     top: 3px;
     bottom: 0;
 }
 .page-heading h2::after {
     content: "";
     border-right: 2px solid #94cb32;
     position: absolute;
     right: 0;
     top: 3px;
     bottom: 0;
 }
 .inst-1 {
     display: flex;
 }
 .inst-1 .feed-1 img {
     margin: 15px 16px 50px 0px;
 }
 footer {
     background-color: #94cb32;
 }
 .footer-koman {
     display: flex;
     padding-top: 30px;
 }
 .quick {
     width: 50%;
 }
 footer h4 {
     border-left: 3px solid #fff;
     padding: 0px 10px;
     color: #3f3f3f;
     margin-bottom: 15px;
     font-weight: bold;
     font-family: 'Monserrat';
 }
 footer li {
     text-transform: capitalize;
     color: #fff;
     margin-bottom: 10px;
 }
 .quick-menu ul {
     display: block;
 }
 .sikn {
     width: 50%;
 }
 .skin-menu ul {
     display: block;
 }
 .barnds {
     width: 50%;
 }
 .barnds-menu ul {
     display: block;
 }
 .newsel {
     width: 50%
 }
 .newsel p {
     color: #fff;
     margin-bottom: 10px;
 }
 .newsel input {
     margin-bottom: 7px;
     padding: 5px 14px;
     background-color: transparent;
     border: 1px solid #fff;
 }
 .newsel input::placeholder {
     color: #fff;
 }
 .newsel button {
     padding: 5px;
     margin-top: 5px;
 }
 .newsel button:hover {
     background-color: blue;
     color: #fff;
     border-radius: 30px;
     cursor: pointer;
     border: none;
 }
 .about-us {
     width: 64%;
 }
 .about-us p {
     color: #fff;
     margin-bottom: 26px;
 }
 .footer-icon i {
     border: 1px solid;
     border-radius: 50%;
     padding: 5px;
     color: #fff;
     width: 30px;
     height: 30px;
     line-height: 17px;
     text-align: center;
 }
 .footer-icon i:hover {
     background-color: #fff;
     color: #000;
 }
 .footer-end {
     display: flex;
     background: #484848;
     padding: 20px;
 }
 .footer-end p {
     margin-left: 39%;
     color: 888888;
 }
 .footer-end h4 {
     margin-left: 8px;
     border-left: 2px solid #888888;
     padding-left: 8px;
     color: 888888;
 }
 .footer-end span {
     color: 94cb32;
 }
 .product {
    width: 25%;
    padding: 0 10px;
    margin: 0 0 20px;
}

